@page "/"
@using Service
@inject JSService JSServ
@inject IJSRuntime JS


<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.


<p><button @onclick="() => JSServ.AlertJS(JSService.loudMessage)">ПРИМЕР</button></p> 
